@import './variables';

.footer-screen {
  background-color: $darkgray;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer-top {
  width: 98vw;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: $lightgray;
}

.footer-bottom {
  width: 98vw;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.top-right {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 170px;
}

.footer-title {
  font-size: 1.2rem;
  font-weight: bold;
  color: $lightgray;
  text-decoration: none;
  transition: color 0.2s ease;
  &:hover,
  &:focus,
  &:active {
    color: $moregray;
  }
}

.footer-link {
  font-size: 0.8rem;
  color: $gray;
  text-decoration: none;
  transition: color 0.2s ease;
  &:hover,
  &:focus,
  &:active {
    color: $moregray;
  }
}

.bottom-left {
  color: $moregray;
  font-size: 0.8rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
}

.bottom-right {
}
