$nav-height: 50px;

// color
$black: #1e1e1e;
$lightblack: #393939;
$white: #fefefe;
$lightgray: #f5f5f5ff;
$gray: #e0e0e0;
$moregray: #b6b6b6;
$darkgray: #646464;
$carrot: #ff9100;
$lightcarrot: #ffad60;
$grass: #65b741;
$lightgrass: #c1f2b0;
$soil: #6c4e31;
